<% if user_signed_in? %>
 <h1>Hello, lovely! </h1>
<% else%>
	<div class="center hero-unit">
	<center><h2>Welcome... to <%= link_to "Mindful Picshare", "http://mindfulcoder.com"%></h2></center>
	<p></p>
	
	<p><center> <%= link_to 'Sign up now!',  new_user_registration_path , class: "btn btn-large btn-primary" %></center> </p>
	</div>
<% end %>