<% if user_signed_in? %>
 <h1>Your logged in</h1>
<% else%>
	<div class="center hero-unit">
	<h1>Welcome!</h1>
	<p>
		to <%= link_to "Mindful Coder", "http://mindfulcoder.com"%>
	</p>
	<p>
	  <%= link_to "Sign up now!", "#"%>
	</p>
	<p> <%= link_to 'Sign up now!',  new_user_registration_path , class: "btn btn-large btn-primary" %> </p>
	</div>
<% end %>